body{
    background-color: brown;
    color: black;
 font: 1em sans-serif;
 margin: 0;
}
header{
    background-color: #E6AF00;
    color: #00A125;
}
main{
    background-color: #00A125;
    color: aliceblue;
    text-align: center;
    pasdding: 30 px
}
section{
    background-color: blue;
    color: red;
}
{
    h1[
        font-size:36px
      h2  color: #E6Af00
    ]
}
{
    p
    fonte-size: 18px;
    line-height:1,6;

}
main{

black:80%;
margin:auto;
}
section{
    background-color: black;
    margin: margin:main:20px;0
    padding:20opx 
    border-radius:12
}
figcaption{

    text-aling:center
    fonte-size;14px;
    color:#000;
    margin-top:8px;


    header {
background-color: #183C63;
color: #FFFFFF;
text-align: center;
max-width: 800px;
margin: 0 auto;
padding: 16px;
}
}

